<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Добавить администратора</title>
</head>
<body>
    <div class="container">
        <h1>Добавить администратора</h1>
        <form action="/add-admin" method="post" onsubmit="return validateUsername()">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" value="sc" required>
            <br>
            <label for="fullName">ФИО (автоматически):</label>
            <input type="text" id="fullNameInput" readonly style="background-color: #f0f0f0; color: #333;">
            <input type="hidden" id="hiddenFullName" name="fullName" value="">
            <br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Добавить администратора</button>
        </form>
        <button onclick="window.location.href='/admin'">Отмена</button>
    </div>
    <script src="/scripts.js"></script>
</body>
</html>