<!DOCTYPE html>
<html>
<head>
  <title>Создание нового администратора</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Calibri', Arial, sans-serif;
      background-color: #f7f7f7;
    }
    /* Стили для заголовка */
    h1 {
      font-family: Calibri, Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      color: #0c0b0b;
    }

    /* Стили для контейнера */
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Стили для формы */
    .form-container {
      background-color: #f7f7f7;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    /* Стили для кнопки "Добавить администратора" */
    button[type="submit"] {
      background-color: #005db9;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      text-align: center;
      margin-top: 10px;
      width: 100%;
    }

    button[type="submit"]:hover {
      background-color: #003e81;
    }

    /* Стили для полей ввода */
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Создать нового администратора</h1>
    <div class="form-container">
      <form method="post" action="/add-admin">
        <input type="text" name="newUsername" placeholder="Username" required><br>
        <input type="password" name="newPassword" placeholder="Password" required><br>
        <button type="submit">Создать новую учетную запись</button>
      </form>
    </div>
  </div>
</body>
</html>
