<!-- admin-page.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Редактор справочников</title>
</head>
<body>
    <div class="container">
    <h1>Редактор справочников</h1>
    <button onclick="window.location.href='/admin'">Назад</button>

    <h2>Типы оборудоания</h2>
        <form action="/add-journal-type" method="POST">
            <label for="journalTypeName">Новый тип оборудования:</label>
            <input type="text" id="journalTypeName" name="journalTypeName" required>
            <button type="submit">Добавить</button>
        </form>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Действие</th>
        </tr>
        <% journalTypes.forEach(type => { %>
            <tr>
                <td><%= type.name %></td>
                <td>
                    <form action="/delete-journal-type/<%= type.id %>" method="POST">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
</html>
