<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Сменить пароль</title>
</head>
<body>
    <div class="container">
    <h1>Сменить пароль</h1>
    <form action="/change-password" method="post">
        <label for="oldPassword">Старый пароль:</label>
        <input type="password" id="oldPassword" name="oldPassword">
        <br>
        <label for="newPassword">Новый пароль:</label>
        <input type="password" id="newPassword" name="newPassword">
        <br>
        <button type="submit">Сменить пароль</button>
    </form>
    <button onclick="window.location.href='/admin'">Отмена</button>
</div>
</body>
</html>
