<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container" style="text-align: center; max-width: 1000px; width: 90%;">
        <img src="/images/logo.svg" alt="Логотип" class="logo">
        <h1>Выдача и возврат оборудования</h1>
        <div style="display: flex; gap: 0.5vw; width: 100%;">
            <a href="/issue" style="flex: 1;">
                <button style="width: 100%; padding: 20px 22px; font-size: 18px;">Выдача оборудования</button>
            </a>
            <a href="/return" style="flex: 1;">
                <button style="width: 100%; padding: 20px 22px; font-size: 18px;">Возврат оборудования</button>
            </a>
        </div>
        <div style="margin-top: 10px;">
        <a href="/admin" style="flex: 1; margin-top: 20px;">
            <button class="admin-button">Панель администратора</button>
        </a>
        </div>
    </div>
</body>
</html>