<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Выдача оборудования</title>
</head>
<body>
    <div class="container">
        <h1>Выдача оборудования</h1>
        <form action="/issue" method="POST">
            <label for="journalNumber "style="font-weight: bold; font-size: 18px; margin-top: 0px;">Номер заявки:</label>
            <span id="journalNumber" style="font-weight: bold; font-size: 18px;"></span><br><br>

            <label for="fullName" style="margin-top: 0px;">ФИО:</label>
            <input type="text" id="fullName" name="fullName" required oninput="searchEmployee('fullName', this.value)" autocomplete="off" style="margin-bottom: 0px;"><br><br>
            
            <label for="issuedBy" style="margin-top: 0px;">Выдал:</label>
            <select id="issuedBy" name="issuedBy" style="margin-bottom: 0px;" required>
                <option value="" disabled selected>Выберите администратора</option>
                <!-- Опции будут добавлены динамически -->
            </select><br><br>

            <label for="journalType" style="margin-top: 0px;">Тип оборудования:</label>
            <select id="journalType" name="journalType" style="margin-bottom: 0px;" required>
                <option value="" disabled selected>Выберите тип оборудования</option>
                <!-- Опции будут добавлены динамически -->
            </select><br><br>
            
            <label for="additionalInfo" style="margin-top: 0px;">Комментарий:</label><br>
            <textarea id="additionalInfo" name="additionalInfo" rows="2" cols="50" autocomplete="off" style="margin-bottom: 0px; margin-top: -15px;"></textarea><br><br>
            
            <button type="submit" style="margin-top: 0px;">Запросить оборудование</button>
            <button type="button" onclick="window.location.href='/'">Отмена</button>
        </form>
    </div>
    <script src="/scripts.js"></script>
</body>
</html>
