<!DOCTYPE html>
<html>
<head>
  <title>Главная</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Стили для контейнера */
    .container {
      max-width: 700px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    /* Стили для голубых кнопок */
    .btn-primary {
      background-color: #005db9;
      border-color: #005db9;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
      font-size: 27px;
    }

    .btn-primary:hover {
      background-color: #003e81;
      border-color: #003e81;
    }

    /* Стили для блока с кнопками */
    .btn-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    /* Стили для кнопки "Панель администратора" */
    .admin-btn {
      display: block;
      text-align: center;
      margin-top: 20px;
      width: 100%;
      font-size: 18px;
    }

    /* Style for the images */
    .header-image {
      max-width: 25%;
      height: auto;
      margin-bottom: 20px;
    }

    .footer-image {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="/images/stada_color.png" alt="IT STADA" class="header-image">
    <div class="btn-group">
      <a href="/user-form" class="btn btn-primary btn-lg" style="height: 70px;">Выдача оборудования</a>
      <a href="/return-equipment" class="btn btn-primary btn-lg" style="height: 70px;">Возврат оборудования</a>
    </div>
    <a href="/admin-login" class="btn btn-primary btn-sm admin-btn">Панель администратора</a>
    <img src="/images/footer-image.jpg" alt="Footer Image" class="footer-image">
  </div>
</body>
</html>
