<!DOCTYPE html>
<html>
<head>
  <title>Выдача оборудования</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Styles for the rest of the code remain the same */
    /* Стили для заголовка */
    h1 {
      font-family: Calibri, Arial, sans-serif;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      color: #0c0b0b;
    }

    /* Common styles for the page */
    body {
      font-family: 'Calibri', Arial, sans-serif;
      background-color: #f7f7f7;
      justify-content: center;
    }

    /* Style for the footer image */
    .footer-image {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }

    /* Styles for the container */
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Styles for the form elements */
    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group select {
      width: 100%;
      padding: 5px;
    }

    /* Styles for the checkbox */
    input[type="checkbox"] {
      margin-right: 5px;
    }

    /* Styles for the button */
    .btn {
      display: block;
      text-align: center;
      margin-top: 10px;
      width: 100%;
      background-color: #005db9;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 6px;
      width: 100%;
      transition: all 0.3s;
    }

    .btn:hover {
      background-color: #003e81;
      transform: scale(1.05);
      box-shadow: 0 0 5px 0 #003e81;
    }

    /* Стили для выпадающего списка предложений */
    .suggestions-list {
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      max-height: 150px; /* Ограничьте максимальную высоту для прокрутки, если нужно */
      overflow-y: auto; /* Добавьте полосы прокрутки при необходимости */
      position: absolute;
      background-color: #fff;
      z-index: 1;
      width: 500px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .suggestions-list li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .suggestions-list li:hover {
      background-color: #f0f0f0;
    }

    /* Скройте выпадающий список при отсутствии совпадений */
    .suggestions-list:empty {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Выдача оборудования</h1>
    <div class="form-container">    
      <form action="/submit" method="post">     
        <div class="form-group">
          <label for="lastName">Фамилия:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" autocomplete="off" required>
          <ul class="suggestions-list"></ul>
        </div>

        <div class="form-group">
          <label for="firstName">Имя:</label>
          <input type="text" name="firstName" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group">
          <label for="adminpost">Кто выдал:</label>
          <select name="adminpost" class="form-control" required id="adminSelect" onchange="checkOtherAdminOption(this)">
            <option value="" selected disabled>Выберите администратора...</option>
            <option value="Айнетдинов">Айнетдинов</option>
            <option value="Иванов">Иванов</option>
            <option value="Клентеев">Клентеев</option>
            <option value="Русаков">Русаков</option>
            <option value="Самойлов">Самойлов</option>
            <option value="Смирнов">Смирнов</option>
            <option value="Другой">Другой...</option>
          </select>
        </div>
        
        <div class="form-group" id="otherAdminDiv" style="display: none;">
          <label for="adminpost">Другой администратор (Фамилия):</label>
          <input type="text" name="adminpost" id="otherAdmin" class="form-control">
        </div>

        <div class="form-group">
          <label for="birthDate">Дата выдачи:</label>
          <input type="text" name="birthDate" id="birthDate" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="equipment">Наименование оборудования:</label>
          <select name="equipment" class="form-control" required onchange="checkOtherOption(this)">
            <option value="" selected disabled>Выберите оборудование...</option>
            <option value="Мышь беспроводная">Мышь беспроводная</option>
            <option value="Мышь проводная">Мышь проводная</option>
            <option value="Зарядка Lenovo">Зарядка Lenovo</option>
            <option value="Зарядка HP">Зарядка HP</option>
            <option value="Кликер">Кликер</option>
            <option value="Веб-камера">Веб-камера</option>
            <option value="Гарнитура">Гарнитура</option>
            <option value="Другое">Другое...</option>
          </select>
        </div>

        <div class="form-group" id="otherEquipmentDiv" style="display: none;">
          <label for="equipment">Другое оборудование (комментарий):</label>
          <input type="text" name="equipment" id="otherEquipment" class="form-control" autocomplete="off">
        </div>

        <div class="form-group">
          <input type="checkbox" name="confirm" required>
          <label for="confirm">Подтверждаю выдачу</label>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Готово</button>
      </form>
    </div>
    <a href="/" class="btn btn-primary btn-lg">На главную</a>
    <img src="/images/footer-image.jpg" alt="Footer Image" class="footer-image">
  </div>

  <script>
    // JavaScript code to set the default value of "Дата выдачи" input to today's date
    const today = new Date();
    const day = String(today.getDate()).padStart(2, '0');
    const month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
    const year = today.getFullYear();
    const formattedDate = `${day}.${month}.${year}`;
    document.getElementById('birthDate').value = formattedDate;

    // JavaScript code to show/hide the "Другое оборудование" input based on the selected option
function checkOtherOption(select) {
  const otherEquipmentDiv = document.getElementById('otherEquipmentDiv');
  const otherEquipmentInput = document.getElementById('otherEquipment');

  if (select.value === "Другое") {
    otherEquipmentDiv.style.display = "block";
    otherEquipmentInput.setAttribute("required", "required");
  } else {
    otherEquipmentDiv.style.display = "none";
    otherEquipmentInput.removeAttribute("required");
    otherEquipmentInput.value = "";
  }
}

// JavaScript code to show/hide the "Другой администратор" input based on the selected option
function checkOtherAdminOption(select) {
  const otherAdminDiv = document.getElementById('otherAdminDiv');
  const otherAdminInput = document.getElementById('otherAdmin');

  if (select.value === "Другой") {
    otherAdminDiv.style.display = "block";
    otherAdminInput.setAttribute("required", "required");
  } else {
    otherAdminDiv.style.display = "none";
    otherAdminInput.removeAttribute("required");
    otherAdminInput.value = "";
  }
}

// JavaScript code to show/hide the "Другой администратор" input based on the selected option
document.getElementById('adminSelect').addEventListener('change', function() {
  checkOtherAdminOption(this);
});

const lastNameInput = document.getElementById('lastName');
const firstNameInput = document.querySelector('input[name="firstName"]');
const suggestionsList = document.querySelector('.suggestions-list');

// Функция, выполняющая поиск и предложение вариантов
async function suggestEmployee() {
  const searchTerm = lastNameInput.value.trim().toLowerCase();

  // Очищаем предыдущие варианты выбора
  suggestionsList.innerHTML = '';

  try {
    // Загрузка данных из JSON-файла с помощью Fetch API
    const response = await fetch('/employee.json');
    const employees = await response.json();

    const suggestions = employees.filter((employee) => {
      const fullName = `${employee.secondname} ${employee.name} ${employee.thirdname}`.toLowerCase();
      return fullName.includes(searchTerm);
    });

    // Добавляем варианты выбора
    suggestions.forEach((employee) => {
      const suggestionItem = document.createElement('li');
      suggestionItem.textContent = `${employee.secondname} ${employee.name} ${employee.thirdname}`;
      suggestionItem.addEventListener('click', () => {
        // Разделяем полное имя на фамилию и имя
        const [lastName, firstName, middleName] = suggestionItem.textContent.split(' ');

        // Заполняем поля "Фамилия" и "Имя"
        lastNameInput.value = lastName;
        firstNameInput.value = firstName;

        // Очищаем список предложений
        suggestionsList.innerHTML = '';
      });
      suggestionsList.appendChild(suggestionItem);
    });

    // Отображаем список вариантов выбора
    suggestionsList.style.display = suggestions.length > 0 ? 'block' : 'none';
  } catch (error) {
    console.error('Ошибка при загрузке данных из JSON-файла:', error);
  }
}

// Слушаем события ввода для автозаполнения
lastNameInput.addEventListener('input', suggestEmployee);

// Добавляем обработчик события blur для поля "Фамилия"
lastNameInput.addEventListener('blur', () => {
  // Задерживаем скрытие списка с помощью setTimeout, чтобы дать пользователю возможность выбрать вариант из списка
  setTimeout(() => {
    suggestionsList.style.display = 'none';
  }, 200); // Можно настроить задержку по вашему усмотрению
});
  </script>
</body>
</html>